---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
	</head>
	<body class="bg-theme-background text-white ">
		<Header />
		<main class="mt-6 flex flex-col justify-between min-h-[85vh] h-full w-[100vw] m-0 p-0">
			<section class="flex flex-col items-start justify-start h-full px-6">
				<h2 class="font-bold text-4xl mb-4">Últimos articulos</h2>
				<ul class="flex flex-col items-start">
					{
						posts.map((post) => (
							<li class="flex flex-col items-start">
								<a href={`/${post.slug}/`}>
									<h4 class="mb-0 font-semibold text-2xl">{post.data.title}</h4>
									<p class="date w-fit p-0">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		<Footer />
		</main>
	</body>
</html>
