---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getLangFromUrl } from "../i18n/utils";
import Tags from "../components/Tags.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, categories } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-theme-background text-white">
    <Header />
    <article class="min-h-[70vh] py-12 px-32">
      <header class="flex flex-col items-start gap-2">
        <h1 class="title font-bold text-4xl">{title}</h1>
        <div class="flex flex-row items-center gap-2">
          <FormattedDate date={pubDate} />
           •
          <Tags tags={categories} />
        </div>
      </header>
      <main></main>
    </article>
    <Footer />
  </body>
</html>
